<!DOCTYPE html>

<!-- Bootstraper for view elements : https://getbootstrap.com/-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- for using the json response -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<div id="app" class="d-flex">

    <div id="container" class="m-5">
        <h2>Order Items of {{orders.fullname}}</h2>
        <table class="table table-striped ">
            <thead class="thead-dark">
                <td>#</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>Price</td>
            </thead>
            <tbody>
                <tr v-for="(oi , index ) in orders.items" :key="oi.id">
                    <td>{{index+1}}</td>
                    <td>{{oi.name}}</td>
                    <td>{{oi.quantity}}</td>
                    <td>{{oi.price | currency}}</td>
                </tr>
            </tbody>
            <tfoot class="font-weight-bold" v-if="calculateTotalSum() > 0">
                <td colspan="3">Total Sum</td>
                <td>{{calculateTotalSum() | currency}}</td>
            </tfoot>
            <button v-on:click="getOrderId()" >get order id</button>
        </table>
    </div>
</div>


<script>
    var vm = new Vue({
        el: '#app',
        data: {
            orders: []
        },
        computed: {
        },
        created: function () {
            var apikey = '';
            var url = 'orders-service.westeurope.azurecontainer.io/api/orders/8711c1cb-8bd9-4ebc-89c8-15cdb97e5dc5' + apikey;
            var config = {
                headers: { 'Access-Control-Allow-Origin': '*' }
            };
            axios.get(url, config)
                .then(function (res) {
                    vm.orders = res.data;
                });
        },
        methods: {
            calculateTotalSum: function(){
                var totalSum = 0
                this.orders.items.filter(function (item) {
                    totalSum = totalSum + (item.quantity * item.price);
                });
                return totalSum;
            },
            getOrderId: function(){
                console.log(this.$route.query);
                return this.$route.query;               
            }
        },
        filters: {
            currency: function (value) {
                return '€' + Number.parseFloat(value).toFixed(2);
            }
        }
    });

</script>