################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Sample/Sample.Api.Products/obj
/Sample/Sample.Api.Products/bin/Debug/netcoreapp3.1
/Sample/Sample.Api.Images/obj
/Sample/Sample.Api.Images/bin/Debug/netcoreapp3.1
/Sample/.vs/Sample/v16
/Sample/Sample.Api.Secrets/bin/Debug/netcoreapp3.1
/Sample/Sample.Api.Secrets/obj
/Sample/Sample.Api.Persistency/bin/Debug/netcoreapp3.1
/Sample/Sample.Api.Persistency/obj
/Sample/Sample.Api.Catalog/bin/Debug/netcoreapp3.1
/Sample/Sample.Api.Catalog/obj
/Sample/.vs/Sample/DesignTimeBuild
